
<div class="read-more-formatter collapsed">
    <div class="collapsed-text">
        {{summary|raw}}
    </div>
    <div class="expanded-text">
        {{full_text|raw}}
    </div>

    <div class="links">
        {{expand_link}}
        {{collapse_link}}
    </div>
</div>